target/
bin/
**/bin
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/.settings/
**/.classpath
**/.project
**/.externalToolBuilders
.project
build/
**/pom.xml.versionsBackup
**/logs
**/.checkstyle
**/.factorypath
test-output/
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
